@media only screen and (max-width: 834px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }

  body {
    background-color: #9c9cc0;
  }
  nav ul {
    display: flex;
    gap: 30px;
  }
  .container {
    max-width: 834px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .legeon {
    display: flex;
    justify-content: space-between;
    padding: 29px 82px;
    margin-bottom: 50px;
  }

  .top {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2c2828;
  }
  .top:hover {
    font-family: "Exo";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    color: #4177dc;

    text-shadow: 0px 0px 32px #346dda;
  }

  .section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-one .title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .section-one .model {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #ffffff;
    margin-bottom: 8px;
  }

  .section-one .car-type {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #babec4;
    margin-bottom: 48px;
  }

  .car-type::before {
    position: absolute;
    content: url(../images/spark.svg);
    width: 20px;
    height: 20px;
    left: -24px;
  }

  .porsche-img {
    margin-bottom: 40px;
  }

  .fauture {
    display: flex;
    gap: 104px;
    margin-bottom: 56px;
  }

  .fauture-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .future-levle {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    margin-top: 12px;
    margin-bottom: 4px;
  }

  .furure-name {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #888b91;
  }
  .fuga {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .the {
    border-color: aqua;
    background-color: #0a0a0b;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  .one {
    border-color: aqua;
    background-color: #fff;
    margin-top: -80px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #0a0a0b;
  }
  .one a {
    font-family: "Exo";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;

    color: #ffffff;
  }

  .one a:hover {
    color: rgb(121, 231, 311);
    transition: all 0.5s ease-in-out;
  }

  .one:hover {
    filter: drop-shadow(0px 0px 16px aqua);
    border: 20px solid aqua;
    width: 90px;
    height: 90px;
    margin-top: -90px;
    transition: all 0.5s;
  }
  /* ------------------------contaner------------- */
  .container-two {
    display: flex;
    overflow: hidden;
  }
  .two-left {
    margin-top: 75px;
    margin-left: 50px;
  }
  .two-left img {
    margin-top: 5px;
    width: 312px;
    height: 208px;
  }
  .two-rayt {
    width: 301px;
    height: 178px;
    padding-left: 30px;
    padding-top: 40px;
  }
  .two-rayt h2 {
    font-family: "Exo";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;

    color: #f1f2f3;

    padding-right: 120px;
  }
  .two-rayt p {
    padding-top: 7px;
    font-family: "Exo";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #babec4;
  }
  .two-rayt button {
    background-color: #346dda;

    width: 129px;
    height: 30px;
    color: gold;
  }
  .bote:hover {
    filter: drop-shadow(0px 0px 16px #02db8a);
    border: 2px solid rgb(0, 255, 21);
    color: #fff;
    background-color: aqua;

    width: 129px;
    height: 30px;
    transition: all 0.5s;
  }
  .oppasity {
    text-align: center;
    width: 197px;
    height: 104px;
    margin-top: -60px;

    margin-left: 183px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);

    border-radius: 20px;
  }
  .oppasity h3 {
    padding-top: 16px;
    font-family: "Exo";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

    color: #ffffff;
  }
  .oppasity p {
    font-family: "Exo";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;

    color: #ffffff;
    padding-top: 8px;
  }
  .heden {
    width: 398px;
    height: 68px;
    margin-top: 150px;
    margin-left: 190px;

    font-family: "Exo";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;

    text-align: center;

    color: #f1f2f3;
  }

  .flex-centr {
    width: 258px;
    height: 328px;
    margin-top: 64px;

    background: #111213;
    border-radius: 20px;
  }
  .flex-centr h2 {
    padding-top: 32px;
    padding-left: 24px;
    font-family: "Exo";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;

    color: #f1f2f3;
  }
  .flex-centr h3 {
    padding-top: 30px;
    padding-left: 24px;
    font-family: "Exo";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

    color: #ffffff;
  }
  .flex-centr p {
    padding-left: 24px;
    font-family: "Exo";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #babec4;
  }
  .tesla {
    padding-left: 56px;
  }
  .rec {
    padding-left: 24px;
  }
  .magazin {
    border: none;
    background: #111213;

    padding-left: 355%;
  }
  .flex {
    display: flex;
    justify-content: space-around;
  }

  .contair--figma {
    margin-top: 176px;
    font-family: "Exo";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;

    text-align: center;

    color: #f1f2f3;
  }
  .bus-mini {
    margin-left: 370px;
    margin-top: 48px;
  }
  .bus-mini button {
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  /* .bus-mini button:active {
        width: 12px;
        height: 12px;
        background-color: aqua;
        margin-top: -2px;
      } */
  .bus-mini button:hover {
    width: 12px;
    height: 12px;
    background-color: #02db8a;
  }
  .figma img {
    position: absolute;
    z-index: 999;
    margin-top: -664px;
    width: 834px;
    height: 713px;
  }

  .figma-dref {
    background-image: url(./img/bacraunt.svg);
    margin-top: 150px;
    width: 650px;
    height: 705.42px;
    margin-left: 30px;

    transform: rotate(-22.3deg);
  }
}
.hamburger {
  display: none;
}
